<section class="py-5 overflow-hidden">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="section-header d-flex justify-content-between">

                    <h2 class="section-title">Most popular products</h2>

                    <div class="d-flex align-items-center">
                        <a href="#" class="btn-link text-decoration-none">View All Categories →</a>
                        <div class="swiper-buttons">
                            <button class="swiper-prev products-carousel-prev btn btn-primary swiper-button-disabled" disabled="" tabindex="-1" aria-label="Previous slide" aria-controls="swiper-wrapper-7bb1edb13238e1bf" aria-disabled="true">❮</button>
                            <button class="swiper-next products-carousel-next btn btn-primary" tabindex="0" aria-label="Next slide" aria-controls="swiper-wrapper-7bb1edb13238e1bf" aria-disabled="false">❯</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="products-carousel swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
                    <div class="swiper-wrapper" id="swiper-wrapper-e5c053f46eba810105" aria-live="polite">

                        <div class="product-item swiper-slide swiper-slide-active" role="group" aria-label="1 / 8" style="width: 283.25px; margin-right: 30px;">
                            <a href="#" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
                            <figure>
                                <a href="index.html" title="Product Title">
                                    <img src="images/thumb-tomatoes.png" class="tab-image">
                                </a>
                            </figure>
                            <h3>Sunstar Fresh Melon Juice</h3>
                            <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> 4.5</span>
                            <span class="price">$18.00</span>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="input-group product-qty">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                                            <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                        </button>
                                    </span>
                                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                                            <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                        </button>
                                    </span>
                                </div>
                                <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></iconify-icon></a>
                            </div>
                        </div>

                        <div class="product-item swiper-slide swiper-slide-next" role="group" aria-label="2 / 8" style="width: 283.25px; margin-right: 30px;">
                            <a href="#" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
                            <figure>
                                <a href="index.html" title="Product Title">
                                    <img src="images/thumb-tomatoketchup.png" class="tab-image">
                                </a>
                            </figure>
                            <h3>Sunstar Fresh Melon Juice</h3>
                            <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> 4.5</span>
                            <span class="price">$18.00</span>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="input-group product-qty">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                                            <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                        </button>
                                    </span>
                                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                                            <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                        </button>
                                    </span>
                                </div>
                                <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></iconify-icon></a>
                            </div>
                        </div>

                        <div class="product-item swiper-slide" role="group" aria-label="3 / 8" style="width: 283.25px; margin-right: 30px;">
                            <a href="#" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
                            <figure>
                                <a href="index.html" title="Product Title">
                                    <img src="images/thumb-bananas.png" class="tab-image">
                                </a>
                            </figure>
                            <h3>Sunstar Fresh Melon Juice</h3>
                            <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> 4.5</span>
                            <span class="price">$18.00</span>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="input-group product-qty">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                                            <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                        </button>
                                    </span>
                                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                                            <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                        </button>
                                    </span>
                                </div>
                                <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></iconify-icon></a>
                            </div>
                        </div>

                        <div class="product-item swiper-slide" role="group" aria-label="4 / 8" style="width: 283.25px; margin-right: 30px;">
                            <a href="#" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
                            <figure>
                                <a href="index.html" title="Product Title">
                                    <img src="images/thumb-bananas.png" class="tab-image">
                                </a>
                            </figure>
                            <h3>Sunstar Fresh Melon Juice</h3>
                            <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> 4.5</span>
                            <span class="price">$18.00</span>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="input-group product-qty">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                                            <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                        </button>
                                    </span>
                                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                                            <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                        </button>
                                    </span>
                                </div>
                                <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></iconify-icon></a>
                            </div>
                        </div>
                        <div class="product-item swiper-slide" role="group" aria-label="5 / 8" style="width: 283.25px; margin-right: 30px;">
                            <a href="#" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
                            <figure>
                                <a href="index.html" title="Product Title">
                                    <img src="images/thumb-tomatoes.png" class="tab-image">
                                </a>
                            </figure>
                            <h3>Sunstar Fresh Melon Juice</h3>
                            <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> 4.5</span>
                            <span class="price">$18.00</span>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="input-group product-qty">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                                            <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                        </button>
                                    </span>
                                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                                            <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                        </button>
                                    </span>
                                </div>
                                <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></iconify-icon></a>
                            </div>
                        </div>

                        <div class="product-item swiper-slide" role="group" aria-label="6 / 8" style="width: 283.25px; margin-right: 30px;">
                            <a href="#" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
                            <figure>
                                <a href="index.html" title="Product Title">
                                    <img src="images/thumb-tomatoketchup.png" class="tab-image">
                                </a>
                            </figure>
                            <h3>Sunstar Fresh Melon Juice</h3>
                            <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> 4.5</span>
                            <span class="price">$18.00</span>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="input-group product-qty">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                                            <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                        </button>
                                    </span>
                                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                                            <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                        </button>
                                    </span>
                                </div>
                                <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></iconify-icon></a>
                            </div>
                        </div>

                        <div class="product-item swiper-slide" role="group" aria-label="7 / 8" style="width: 283.25px; margin-right: 30px;">
                            <a href="#" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
                            <figure>
                                <a href="index.html" title="Product Title">
                                    <img src="images/thumb-bananas.png" class="tab-image">
                                </a>
                            </figure>
                            <h3>Sunstar Fresh Melon Juice</h3>
                            <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> 4.5</span>
                            <span class="price">$18.00</span>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="input-group product-qty">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                                            <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                        </button>
                                    </span>
                                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                                            <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                        </button>
                                    </span>
                                </div>
                                <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></iconify-icon></a>
                            </div>
                        </div>

                        <div class="product-item swiper-slide" role="group" aria-label="8 / 8" style="width: 283.25px; margin-right: 30px;">
                            <a href="#" class="btn-wishlist"><svg width="24" height="24"><use xlink:href="#heart"></use></svg></a>
                            <figure>
                                <a href="index.html" title="Product Title">
                                    <img src="images/thumb-bananas.png" class="tab-image">
                                </a>
                            </figure>
                            <h3>Sunstar Fresh Melon Juice</h3>
                            <span class="qty">1 Unit</span><span class="rating"><svg width="24" height="24" class="text-primary"><use xlink:href="#star-solid"></use></svg> 4.5</span>
                            <span class="price">$18.00</span>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="input-group product-qty">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-danger btn-number" data-type="minus">
                                            <svg width="16" height="16"><use xlink:href="#minus"></use></svg>
                                        </button>
                                    </span>
                                    <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus">
                                            <svg width="16" height="16"><use xlink:href="#plus"></use></svg>
                                        </button>
                                    </span>
                                </div>
                                <a href="#" class="nav-link">Add to Cart <iconify-icon icon="uil:shopping-cart"></iconify-icon></a>
                            </div>
                        </div>

                    </div>
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
                <!-- / products-carousel -->

            </div>
        </div>
    </div>
</section>