USE [master]
GO
/****** Chỉnh sửa cho SQL Server 2014 ******/
CREATE DATABASE [LiteCommerceDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LiteCommerceDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\LiteCommerceDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LiteCommerceDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\LiteCommerceDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
-- Đã xóa LEDGER = OFF
GO

-- Chuyển về level 120 cho SQL Server 2014
ALTER DATABASE [LiteCommerceDB] SET COMPATIBILITY_LEVEL = 120
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LiteCommerceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
-- SQL 2014 hỗ trợ TARGET_RECOVERY_TIME
ALTER DATABASE [LiteCommerceDB] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO

-- Đã xóa QUERY_STORE và ACCELERATED_DATABASE_RECOVERY (Không hỗ trợ trên SQL 2014)

USE [LiteCommerceDB]
GO

/****** LƯU Ý: Đã xóa OPTIMIZE_FOR_SEQUENTIAL_KEY khỏi tất cả các lệnh CREATE TABLE dưới đây
******/

CREATE TABLE [dbo].[DonHang](
	[MaDonHang] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[MaTrangThai] [int] NULL,
	[NgayDat] [datetime] NULL,
	[NgayDi] [datetime] NULL,
	[NgayDen] [datetime] NULL,
	[NgayHuy] [datetime] NULL,
	[TongTien] [decimal](18, 2) NULL,
	[DiaChiGiaoHang] [nvarchar](255) NULL,
	[MaTinh] [int] NULL,
 CONSTRAINT [PK__DonHang__129584ADC48A462D] PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[DonHangChiTiet](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[MaDonHang] [int] NOT NULL,
	[MaMatHang] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[GioHang](
	[MaGioHang] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGioHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[GioHangChiTiet](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[MaGioHang] [int] NOT NULL,
	[MaMatHang] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[MatKhau] [nvarchar](100) NOT NULL,
	[DienThoai] [nvarchar](20) NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[MaTinh] [int] NULL,
	[VaiTro] [nchar](5) NULL,
	[DangHoatDong] [bit] NOT NULL,
 CONSTRAINT [PK__KhachHan__88D2F0E5ACA8A1B1] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[LoaiHang](
	[MaLoaiHang] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiHang] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[MatHang](
	[MaMatHang] [int] IDENTITY(1,1) NOT NULL,
	[TenMatHang] [nvarchar](150) NOT NULL,
	[MaLoaiHang] [int] NOT NULL,
	[GiaBan] [decimal](18, 2) NOT NULL,
	[DonViTinh] [nvarchar](50) NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[MoTa] [nvarchar](max) NULL,
	[SoLuong] [int] NULL,
	[DangBan] [bit] NOT NULL,
 CONSTRAINT [PK__MatHang__A92254E5D68FE5D9] PRIMARY KEY CLUSTERED 
(
	[MaMatHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

CREATE TABLE [dbo].[TinhThanh](
	[MaTinh] [int] NOT NULL,
	[TenTinh] [nvarchar](50) NULL,
 CONSTRAINT [PK_TinhThanh] PRIMARY KEY CLUSTERED 
(
	[MaTinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[TrangThaiDon](
	[MaTrangThai] [int] NOT NULL,
	[TenTrangThai] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
 CONSTRAINT [PK_TrangThaiDon] PRIMARY KEY CLUSTERED 
(
	[MaTrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

-- CÁC LỆNH INSERT VÀ CONSTRAINT KHÁC GIỮ NGUYÊN NHƯ FILE GỐC CỦA BẠN...
-- (Phần dữ liệu Insert không thay đổi vì cú pháp SQL cơ bản giống nhau)

SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([MaDonHang], [MaKhachHang], [MaTrangThai], [NgayDat], [NgayDi], [NgayDen], [NgayHuy], [TongTien], [DiaChiGiaoHang], [MaTinh]) VALUES (1, 4, 2, CAST(N'2025-12-30T22:15:32.463' AS DateTime), NULL, NULL, NULL, CAST(270000.00 AS Decimal(18, 2)), N'Nhà văn hóa dsadasd', 2)
INSERT [dbo].[DonHang] ([MaDonHang], [MaKhachHang], [MaTrangThai], [NgayDat], [NgayDi], [NgayDen], [NgayHuy], [TongTien], [DiaChiGiaoHang], [MaTinh]) VALUES (2, 3, 3, CAST(N'2025-12-28T22:15:32.463' AS DateTime), CAST(N'2025-12-31T21:56:55.873' AS DateTime), NULL, NULL, CAST(123000.00 AS Decimal(18, 2)), N'Tầng 4 tòa nhà Cao', 3)
INSERT [dbo].[DonHang] ([MaDonHang], [MaKhachHang], [MaTrangThai], [NgayDat], [NgayDi], [NgayDen], [NgayHuy], [TongTien], [DiaChiGiaoHang], [MaTinh]) VALUES (3, 4, 4, CAST(N'2025-12-25T22:15:32.463' AS DateTime), CAST(N'2025-12-26T22:15:32.463' AS DateTime), CAST(N'2025-12-31T21:57:08.953' AS DateTime), NULL, CAST(610000.00 AS Decimal(18, 2)), N'Làng Thôn', 4)
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHangChiTiet] ON 

INSERT [dbo].[DonHangChiTiet] ([MaChiTiet], [MaDonHang], [MaMatHang], [SoLuong], [DonGia]) VALUES (3, 2, 10, 3, CAST(35000.00 AS Decimal(18, 2)))
INSERT [dbo].[DonHangChiTiet] ([MaChiTiet], [MaDonHang], [MaMatHang], [SoLuong], [DonGia]) VALUES (4, 2, 18, 1, CAST(14000.00 AS Decimal(18, 2)))
INSERT [dbo].[DonHangChiTiet] ([MaChiTiet], [MaDonHang], [MaMatHang], [SoLuong], [DonGia]) VALUES (5, 3, 27, 1, CAST(250000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[DonHangChiTiet] OFF
GO
SET IDENTITY_INSERT [dbo].[GioHang] ON 

INSERT [dbo].[GioHang] ([MaGioHang], [MaKhachHang]) VALUES (1, 2)
INSERT [dbo].[GioHang] ([MaGioHang], [MaKhachHang]) VALUES (2, 3)
INSERT [dbo].[GioHang] ([MaGioHang], [MaKhachHang]) VALUES (3, 4)
SET IDENTITY_INSERT [dbo].[GioHang] OFF
GO
SET IDENTITY_INSERT [dbo].[GioHangChiTiet] ON 

INSERT [dbo].[GioHangChiTiet] ([MaChiTiet], [MaGioHang], [MaMatHang], [SoLuong], [DonGia]) VALUES (1, 1, 1, 2, CAST(65000.00 AS Decimal(18, 2)))
INSERT [dbo].[GioHangChiTiet] ([MaChiTiet], [MaGioHang], [MaMatHang], [SoLuong], [DonGia]) VALUES (5, 3, 27, 1, CAST(250000.00 AS Decimal(18, 2)))
INSERT [dbo].[GioHangChiTiet] ([MaChiTiet], [MaGioHang], [MaMatHang], [SoLuong], [DonGia]) VALUES (6, 3, 32, 2, CAST(180000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[GioHangChiTiet] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [Email], [MatKhau], [DienThoai], [HinhAnh], [DiaChi], [MaTinh], [VaiTro], [DangHoatDong]) VALUES (1, N'ADMIN_1', N'admin@admin.vn', N'1', N'1234567890', N'/images/KhachHang/5e3a1607-a1a1-49e1-ac48-575703a6bea8_doakes.jpg', N'123 Nguyễn Huệ', 1, N'admin', 1)
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [Email], [MatKhau], [DienThoai], [HinhAnh], [DiaChi], [MaTinh], [VaiTro], [DangHoatDong]) VALUES (2, N'Trần Thị Mai', N'mai.tran@gmail.com', N'1', N'0912345678', N'/images/KhachHang/b0596df1-6847-442b-b43f-542f22a5005f_crying_cat.jpg', N'Nhà văn hóa', 2, N'user ', 1)
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [Email], [MatKhau], [DienThoai], [HinhAnh], [DiaChi], [MaTinh], [VaiTro], [DangHoatDong]) VALUES (3, N'Lê Huy', N'huy.le@gmail.com', N'1', N'0987654321', N'/images/KhachHang/6ed7bd0b-130f-4352-a961-3113dcd63716_pain_harold.jpg', N'Tầng 4 tòa nhà Cao', 3, N'user ', 1)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiHang] ON 

INSERT [dbo].[LoaiHang] ([MaLoaiHang], [TenLoaiHang], [MoTa]) VALUES (1, N'Rau lá', N'Các loại rau ăn lá như rau muống, cải, xà lách...')
INSERT [dbo].[LoaiHang] ([MaLoaiHang], [TenLoaiHang], [MoTa]) VALUES (2, N'Củ', N'Các loại rau ăn củ như cà rốt, khoai tây, củ cải...')
INSERT [dbo].[LoaiHang] ([MaLoaiHang], [TenLoaiHang], [MoTa]) VALUES (3, N'Quả', N'Các loại quả dùng trong nấu ăn hoặc ăn trái cây như cà chua, thanh long, xoài...')
SET IDENTITY_INSERT [dbo].[LoaiHang] OFF
GO
SET IDENTITY_INSERT [dbo].[MatHang] ON 

INSERT [dbo].[MatHang] ([MaMatHang], [TenMatHang], [MaLoaiHang], [GiaBan], [DonViTinh], [HinhAnh], [MoTa], [SoLuong], [DangBan]) VALUES (1, N'Rau Ngót Rừng (Pắc Khay)', 1, CAST(65000.00 AS Decimal(18, 2)), N'Kg', N'14f21abe-86bb-49f4-ba73-9bd4cdead234_rau_ngot_rung.png', N'Rau ngót rừng vùng núi phía Bắc, vị ngọt thanh tự nhiên.', 100, 1)
INSERT [dbo].[MatHang] ([MaMatHang], [TenMatHang], [MaLoaiHang], [GiaBan], [DonViTinh], [HinhAnh], [MoTa], [SoLuong], [DangBan]) VALUES (2, N'Cải Cúc (Tần Ô)', 1, CAST(15000.00 AS Decimal(18, 2)), N'Bó', N'c45406c5-82c6-4972-bf5e-a91a4da7f159_cai_cuc.webp', N'Rau tần ô tươi, thích hợp nấu canh hoặc ăn lẩu.', 100, 1)
INSERT [dbo].[MatHang] ([MaMatHang], [TenMatHang], [MaLoaiHang], [GiaBan], [DonViTinh], [HinhAnh], [MoTa], [SoLuong], [DangBan]) VALUES (3, N'Rau Tiến Vua Khô', 1, CAST(3500.00 AS Decimal(18, 2)), N'Túi 100g', N'8b422793-01df-4d95-a5b7-73803f0e24ad_rau_tien_vua_kho.webp', N'Rau tiến vua khô, giòn sần sật khi chế biến.', 100, 1)
SET IDENTITY_INSERT [dbo].[MatHang] OFF
GO
INSERT [dbo].[TinhThanh] ([MaTinh], [TenTinh]) VALUES (1, N'An Giang')
INSERT [dbo].[TinhThanh] ([MaTinh], [TenTinh]) VALUES (2, N'Bắc Ninh')
INSERT [dbo].[TinhThanh] ([MaTinh], [TenTinh]) VALUES (3, N'Cà Mau')
GO
INSERT [dbo].[TrangThaiDon] ([MaTrangThai], [TenTrangThai], [MoTa]) VALUES (1, N'Đơn hàng mới, chờ xử lý', N'Khách vừa đặt, chưa xử lý hoặc đang chờ duyệt')
INSERT [dbo].[TrangThaiDon] ([MaTrangThai], [TenTrangThai], [MoTa]) VALUES (2, N'Đã xác nhận', N'Admin đã kiểm tra và chấp nhận đơn')
INSERT [dbo].[TrangThaiDon] ([MaTrangThai], [TenTrangThai], [MoTa]) VALUES (3, N'Đang giao hàng', N'Shipper đang giao hàng')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__A9D10534F2E7E0FA]    Script Date: 1/5/2026 22:46:36 ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [UQ__KhachHan__A9D10534F2E7E0FA] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DonHang] ADD  CONSTRAINT [DF__DonHang__NgayDat__49C3F6B7]  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[MatHang] ADD  CONSTRAINT [DF__MatHang__DangBan__3E52440B]  DEFAULT ((1)) FOR [DangBan]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_KhachHang]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_TinhThanh] FOREIGN KEY([MaTinh])
REFERENCES [dbo].[TinhThanh] ([MaTinh])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_TinhThanh]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_TrangThaiDon] FOREIGN KEY([MaTrangThai])
REFERENCES [dbo].[TrangThaiDon] ([MaTrangThai])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_TrangThaiDon]
GO
ALTER TABLE [dbo].[DonHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_DHCT_DonHang] FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
GO
ALTER TABLE [dbo].[DonHangChiTiet] CHECK CONSTRAINT [FK_DHCT_DonHang]
GO
ALTER TABLE [dbo].[DonHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_DHCT_MatHang] FOREIGN KEY([MaMatHang])
REFERENCES [dbo].[MatHang] ([MaMatHang])
GO
ALTER TABLE [dbo].[DonHangChiTiet] CHECK CONSTRAINT [FK_DHCT_MatHang]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_KhachHang]
GO
ALTER TABLE [dbo].[GioHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_GHCT_GioHang] FOREIGN KEY([MaGioHang])
REFERENCES [dbo].[GioHang] ([MaGioHang])
GO
ALTER TABLE [dbo].[GioHangChiTiet] CHECK CONSTRAINT [FK_GHCT_GioHang]
GO
ALTER TABLE [dbo].[GioHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_GHCT_MatHang] FOREIGN KEY([MaMatHang])
REFERENCES [dbo].[MatHang] ([MaMatHang])
GO
ALTER TABLE [dbo].[GioHangChiTiet] CHECK CONSTRAINT [FK_GHCT_MatHang]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_TinhThanh] FOREIGN KEY([MaTinh])
REFERENCES [dbo].[TinhThanh] ([MaTinh])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_TinhThanh]
GO
ALTER TABLE [dbo].[MatHang]  WITH CHECK ADD  CONSTRAINT [FK_MatHang_LoaiHang] FOREIGN KEY([MaLoaiHang])
REFERENCES [dbo].[LoaiHang] ([MaLoaiHang])
GO
ALTER TABLE [dbo].[MatHang] CHECK CONSTRAINT [FK_MatHang_LoaiHang]
GO
ALTER TABLE [dbo].[MatHang]  WITH CHECK ADD  CONSTRAINT [CK__MatHang__SoLuong__5AEE82B9] CHECK  (([SoLuong]>=(0)))
GO
ALTER TABLE [dbo].[MatHang] CHECK CONSTRAINT [CK__MatHang__SoLuong__5AEE82B9]
GO
USE [master]
GO