<nav class="navbar navbar-expand navbar-light navbar-bg border-bottom shadow-sm">
    <a class="sidebar-toggle js-sidebar-toggle mx-2">
        <i class="bi bi-list fs-3 text-dark"></i>
    </a>

    <div class="navbar-collapse collapse">
        <ul class="navbar-nav navbar-align ms-auto">
            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <li class="nav-item dropdown">
                    <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                        <i class="align-middle bi bi-gear"></i>
                    </a>

                    <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                        <div class="d-inline-block bg-light rounded-circle text-center align-middle me-1" style="width: 32px; height: 32px; line-height: 32px;">
                            <i class="bi bi-person"></i>
                        </div>
                        <span class="text-dark">@User.Identity.Name</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#"><i class="align-middle me-1 bi bi-person-circle"></i> Hồ sơ</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" asp-controller="TaiKhoan" asp-action="Logout">
                            <i class="align-middle me-1 bi bi-box-arrow-right"></i> Đăng xuất
                        </a>
                    </div>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="TaiKhoan" asp-action="Login">Đăng nhập</a>
                </li>
            }
        </ul>
    </div>
</nav>